<div class="h-[84vh] flex items-center">
    <div>
        <div>
            <!-- <span class="zain-bold text-8xl">hi, it's <span class="faded-text font-bold">luis!</span></span> -->
            <span class="typed-element"></span>
        </div>
        <span class="zain-light text-3xl">I'm a software engineer from Guadalajara, Jalisco. Very passionate about building cool stuff and delivering good-quality code. Currently in love with Frontend, but sometimes enjoying the hard part of the Backend.</span>
    </div>
</div>