<div class="h-[90vh] flex items-center">
    <div>
        <div>
            <span class="zain-bold text-8xl">hi, it's <span class="bg-gradient-to-tr from-indigo-500 to-purple-500 inline-block text-transparent bg-clip-text font-bold">luis!</span></span>
        </div>
        <span class="zain-light text-4xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio doloremque aliquam commodi quam laborum voluptatibus officiis, rem vitae hic illo repellat doloribus distinctio? Obcaecati sunt ipsam est dignissimos. Fuga, iste.</span>
    </div>
</div>