@import "primeicons/primeicons.css";
@import "../public/fonts/google-fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f2f2f2;
  --text-color: #000000;
  --card-bg-color: #e5e7eb;
  --cursor-color: #000000;
}

/* dark Mode */
[data-theme="dark"] {
  --background-color: #180927;
  --text-color: #ffffff;
  --card-bg-color: #12091c;
  --cursor-color: #f2f2f2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.my-card {
  background-color: var(--card-bg-color);
  color: var(--text-color);
}

.typed-cursor {
  font-size: 82px;
  color: var(--cursor-color);
}

.faded-text {
  @apply bg-gradient-to-tr from-indigo-500 to-purple-500 inline-block text-transparent bg-clip-text;
}